.logo {
}

.logo--position {

    margin-right: 87px;
    @include desktop {
        margin-right: 93px;
    }
}

.logo__web-element {
    color: var(--accent-color);
}

.logo__studio-element {
    color: #000000;
}

.logo__web-element,
.logo__studio-element {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    // font-size: 26px; 
    // line-height: 1.19;
    font-size: 24px;
    line-height: 1.17;
   
    letter-spacing: 0.03em;
}

.logo__studio-element--footer-color {
    color: #FFFFFF;
}